<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/home_style.css">
    <title>Portifólio - Matheus Rantin Pereira</title>
</head>
<body>
    
    <section id="presentation" class="presentation">
        <div id="text-content-presentation" class="content-presentation">
            <h1>Bom dia</h1>
        </div>
        <div id="content-img-presentation" class="content-presentation">
            <img src="../imgs/Fate_Night.jpg" alt="" id="img-fate">
        </div>
    </section>

    <script src="../JS/home_script.js"></script>
</body>
</html>